<section class="container">
  <div class="user">
    <div class="user-photo">
      <img src="<%= @user.photo %>" alt="User Photo">
        </div>
 
        <div class="user-info">
            <%= link_to user_url(@user), class: 'name' do %>
                <h2><%= @user.name %></h2>
            <% end %>
 
            <div class="user-posts">
                <p>Number of Posts:
                    <% if @user.posts_counter %>
                        <%= @user.posts_counter %>
                    <% else %>
                        0
                    <% end %>
                </p>
                <%if @user.name === current_user.name %>
                    <button>
                        <%= link_to ' Add New Post ', new_user_post_path(@user) %>
                    </button>
                <%end%>
            </div>
        </div>
    </div>

    <% @user.posts.each do |post| %>
        <div class = "post">
           <%= link_to user_post_url(user_id: @user.id, id: post.id), class: 'post-link', id: "post-#{post.id}" do %>
             <h3>Post #<%= @user.posts.index(post) + 1 %></h3>
           <% end %>
           <p><%= post.text %></p>
            <div class="count">
                <div>       
                    <% if can? :destroy, post %>
                        <%= link_to user_post_url(post.author_id, post), method: :delete, class: 'btn-link' do %>
                            <button>Delete Post</button>
                        <% end %>
                    <% end %>
                </div>
                <div class="user-comments-likes">
                    <span>Comments:
                        <% if post.comments_counter %>
                        <%= post.comments_counter %>
                        <% else %>
                        0
                        <% end %>
                    </span>
                    <span>Likes:
                        <% if post.likes_counter %>
                        <%= post.likes_counter %>
                        <% else %>
                        0
                        <% end %>
                    </span>
                    <span>
                    <%= form_with(model: Like.new, url: like_user_post_path(post.author, post)) do |form| %>
                    <%= form.button type: :submit do %>
                        &#9829; 
                    <% end %>
                    <% end %>
                    </span>
                </div>
            </div>
            <hr />
            <% if post.recent_comments.length > 0 %>
                <div class="post-comments">
                    <h3>Comments</h3>
                    <% post.recent_comments.each do |comment| %>
                    <div class="comments">
                        <p class="comment-author"><%= comment.user.name %>:</p>
                        <p><%= comment.text %></p>
    
                        <% if can? :destroy, comment %>
                            <%= form_with url: "/users/#{post.author.id}/posts/#{post.id}/comments/#{comment.id}" , method: :delete do |f|%>
                                <%= f.submit 'Delete', class: 'short-button' %>
                            <%end%>
                        <%end%>
                    </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
 
    <div class="btn-link">
        <button>Pagination</button>
    </div>
</section>