<!DOCTYPE html>
<html>
  <head>
    <title>Rails Blog App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="wrapper">
        <div class="navbar">
          <strong>
            <%=  %>
            <%= link_to current_user.name, users_path %>
          </strong>.
          <div class="logout">
            <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> |
            <%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete }, class: "navbar-link"  %>
          </div>
        </div>
      
        <% if notice %>
          <p style="color: green" class="notice"><%= notice %></p>
        <% end %>

        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>